{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Your Job Listings{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Job Listings</h1>
    <form method="GET" action="{% url 'posted_job' %}" class="form-inline my-2 my-lg-0">
        <div class="input-group mb-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by title or description" aria-label="Search" name="q" value="{{ query }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>
    <ul class="list-group mt-3">
        {% for job in page_obj %}
            <li class="list-group-item">
                <h2>{{ job.title }}</h2>
                <p>{{ job.description }}</p>
                <p><strong>Employer:</strong> {{ job.employer.username }}</p>
                <a href="{% url 'update_job' job.id %}" class="btn btn-primary">Update</a>
                <a href="{% url 'delete_job' job.id %}" class="btn btn-danger">Delete</a>
            </li>
            <br>
        {% endfor %}
    </ul>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1&q={{ query }}" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ query }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}&q={{ query }}">{{ num }}</a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}&q={{ query }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ query }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}