{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Search for Candidates{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Search for Candidates</h2>
    <form method="get" class="mt-3">
        <div class="input-group mb-3">
            {% csrf_token %}
            <input type="text" name="qualifications" class="form-control" placeholder="Qualifications" value="{{ request.GET.qualifications|default_if_none:'' }}">
            <input type="text" name="skills" class="form-control" placeholder="Skills" value="{{ request.GET.skills|default_if_none:'' }}">
            <input type="text" name="location" class="form-control" placeholder="Location" value="{{ request.GET.location|default_if_none:'' }}">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <h3 class="mt-4">Candidate Profiles</h3>
    <div class="row mt-3">
        {% for candidate in page_obj %}
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <div class="card-body" style="min-height: 350px;">
                        <div style="width: 150px; height: 150px; margin: 0 auto;">
                            {% if candidate.profile.profile_picture %}
                                <img src="{{ candidate.profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle mb-3" style="width: 100%; height: 100%; object-fit: cover; border: 2px solid #ddd; padding: 5px;">
                            {% else %}
                                <img src="{% static 'images/default_profile.png' %}" alt="Default Profile Picture" class="img-fluid rounded-circle mb-3" style="width: 100%; height: 100%; object-fit: cover; border: 2px solid #ddd; padding: 5px;">
                            {% endif %}
                        </div>
                        <h4 class="card-title">{{ candidate.username }}</h4>
                        <p class="card-text"><strong>Skills:</strong> {{ candidate.profile.skills }}</p>
                        <p class="card-text"><strong>Location:</strong> {{ candidate.profile.location }}</p>
                        <a href="{% url 'candidate_profile' candidate.id %}" class="btn btn-secondary mt-2">View More</a>
                        {% if candidate.profile.resume %}
                            <a href="{{ candidate.profile.resume.url }}" target="_blank" class="btn btn-secondary mt-2">Show Resume</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1&qualifications={{ request.GET.qualifications|default_if_none:'' }}&skills={{ request.GET.skills|default_if_none:'' }}&location={{ request.GET.location|default_if_none:'' }}" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&qualifications={{ request.GET.qualifications|default_if_none:'' }}&skills={{ request.GET.skills|default_if_none:'' }}&location={{ request.GET.location|default_if_none:'' }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}&qualifications={{ request.GET.qualifications|default_if_none:'' }}&skills={{ request.GET.skills|default_if_none:'' }}&location={{ request.GET.location|default_if_none:'' }}">{{ num }}</a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}&qualifications={{ request.GET.qualifications|default_if_none:'' }}&skills={{ request.GET.skills|default_if_none:'' }}&location={{ request.GET.location|default_if_none:'' }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&qualifications={{ request.GET.qualifications|default_if_none:'' }}&skills={{ request.GET.skills|default_if_none:'' }}&location={{ request.GET.location|default_if_none:'' }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&qualifications={{ request.GET.qualifications|default_if_none:'' }}&skills={{ request.GET.skills|default_if_none:'' }}&location={{ request.GET.location|default_if_none:'' }}" aria-label="Last">
                                           </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}